body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: #FFFFFF;
  margin: 0;
  padding: 0;
  color: #555555;
}

a {
  color: #e74c3c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.ui.page.grid {
  padding-top: 20px;
}

.ui.header a {
  display: inline-block;
  text-decoration: none;
  color: #555555;
  background: url(../images/logo.png) no-repeat 0px 8px;
  padding-left: 50px;
}

.ui.header a:hover {
  color: #e74c3c;
  background-position: 1px -26px;
}

.secondary.menu a:hover {
  color: #e74c3c !important;
}

#content {
  margin-bottom: 20px;
  padding-left: 6%;
}

@media all and (max-width: 998px) {
  #content {
    padding-left: 1.5%;
    width: 100%;
  }
}
