<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
    <meta charset="utf-8">
    <meta name="description" content="Lets talk about tech over pizza and ice cold beer.">
    <link rel="shortcut icon" href="{{ SITEURL }}/theme/images/favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/styles.css">
    <script src="{{ SITEURL }}/theme/js/jquery.min.js"></script>
    <script src="{{ SITEURL }}/theme/js/semantic.min.js"></script>
</head>
<body>

  <div class="ui page grid">
    <div class="row">
      <div class="four wide computer only column">
        <h1 class="ui header">
          <a href="/">{{ SITENAME }}</a>
        </h1>
        <div class="ui vertical pointing menu">
          {% for title, icon, url in MENUITEMS %}
            <a class="{% if (page and page.slug in url) or (category and category.name == title) %}active {% endif %}item" href="{{ url }}">
              <i class="{{ icon }} icon"></i> {{ title }}
            </a>
          {% endfor %}
          <a class="item" href="{{ TWITTER.1 }}">
            <i class="twitter icon"></i> Follow {{ TWITTER.0 }}
          </a>
        </div>
      </div>
      <div id="content" class="twelve wide column">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </div>

  {% include 'analytics.html' %}
  {% include 'disqus_script.html' %}

</body>
</html>